openapi: 3.0.2
info:
  version: 4.0-oas3
  title: Routes
  description: Route Management API
  contact:
    name: Route4Me
    url: integrate.route4me.com
    email: support@route4me.com
servers:
  - url: 'https://api.route4me.com/api.v4'
security:
  - APIKeyQueryParam: []
tags:
  - name: Routes
paths:
  /route.php:
    get:
      operationId: getRoutes
      tags:
      - Route Management
      summary: Get route(s)
      description: "Get a list of all the routes or a single route if the parameter route_id is specified."
      parameters:
          - in: header
            name: Access-Control-Allow-Origin
            schema:
              type: string
          - $ref: '#/components/parameters/idNotRequiredParam'
          - $ref: '#/components/parameters/limitParam'
          - $ref: '#/components/parameters/offsetParam'
          - $ref: '#/components/parameters/notesParam'
          - $ref: '#/components/parameters/directionsParam'
          - $ref: '#/components/parameters/originalParam'
          - $ref: '#/components/parameters/orderInventoryParam'
          - $ref: '#/components/parameters/routePathOutputParam'
          - $ref: '#/components/parameters/bundlingItemsParam'
          - $ref: '#/components/parameters/compressPathPointsParam'
          - $ref: '#/components/parameters/startDateParam'
          - $ref: '#/components/parameters/endDateParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseRoute'
                  - $ref: '#/components/schemas/ResponseRoutes'
        '406':
          $ref: '#/components/responses/InvalidValue'
    post:
      operationId: duplicateRoutes
      description: Duplicate one or more routes.
      summary: Duplicate route(s)
      tags:
      - Route Management
      requestBody:
        $ref: '#/components/requestBodies/RequestDuplicateRouteIDs'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRoute'
        '406':
          $ref: '#/components/responses/InvalidValue'
    put:
      operationId: updateRoute
      summary: Re-optimize a route
      description: Re-optimize a route by changing route parameters and/or addresses.
      tags:
      - Route Management
      parameters:
        - $ref: '#/components/parameters/idParam'
        - $ref: '#/components/parameters/optimalPositionParam'
        - $ref: '#/components/parameters/routeDestinationIdParam'
      requestBody:
        $ref: '#/components/requestBodies/Data'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRoute'
        '406':
          $ref: '#/components/responses/InvalidValue'
    delete:
      operationId: deleteRoutes
      summary: Remove route(s)
      description: Delete one or more routes.
      tags:
      - Route Management
      parameters:
        - $ref: '#/components/parameters/idParam'
      requestBody:
        $ref: '#/components/requestBodies/RequestRouteIDs'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRemoveRoute'
        '406':
          $ref: '#/components/responses/InvalidValue'
components:
  securitySchemes:
    APIKeyQueryParam:
      type: apiKey
      in: query
      name: api_key
  schemas:
    ResponseRoutes:
      type: array
      items:
        $ref: '#/components/schemas/ResponseRoute'
    RequestAddresses:
      type: array
      items:
        type: object
        properties:
          address:
            type: string
          alias:
            type: string
            description: Address alias.
          curbside_lat:
            type: number
            description: Curbside latitude.
          curbside_lng:
            type: number
            description: Curbside longitude.
          is_depot:
            type: boolean
            description: If `true`, this address is a depot.
          lat:
            type: number
            description: Latitude.
          lng:
            type: number
            description: Longitude.
          order_id:
            type: integer
            description: Parent order ID.
          phone:
            type: string
            description: Address phone number.
          priority:
            type: integer
            description: |
              0 is the highest priority;  
              n has higher priority than n + 1.
          sequence_no:
            type: integer
            description: The number of this address in the route.
    RequestParameters:
      type: object
      properties:
        is_upload:
          type: boolean
          nullable: true
          title: Is Upload
          description: Let the R4M api know if this sdk request is coming from a file upload within your environment (for analytics)
        algorithm_type:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 9
            - 100
            - 101
          title: Optimization algorithm type
          description: |
            The algorithm to be used:  
            1 = TSP,  
            2 = VRP,  
            3 = CVRP_TW_SD,  
            4 = CVRP_TW_MD,  
            5 = TSP_TW,  
            6 = TSP_TW_CR,  
            7 = BBCVRP,  
            9 = ADVANCED_CVRP_TW,  
            100 = ALG_NONE,  
            101 = ALG_LEGACY_DISTRIBUTED"
        member_id:
          type: string
          nullable: true
          title: Member ID
          description: User ID who is assigned to the route.
        ip:
          type: integer
          nullable: true
          title: IP
          description: IP Address in decimal form of user who created the route.
        dm:
          type: integer
          nullable: true
          title: DM
          description: Undocumented/not publicly shown.
        dirm:
          type: integer
          nullable: true
          title: Directions Method
          description: Undocumented/not publicly shown.
        parts:
          type: integer
          nullable: true
          title: Parts
          description: Legacy feature which permits a user to request an example number of optimized routes.
        parts_min:
          type: integer
          nullable: true
          title: Parts Minimum
          description: Minimum number of optimized routes.
        device_id:
          type: string
          nullable: true
          title: Device ID
          description: "32 Character MD5 String ID of the device that was used to plan this route."
        avoid:
          type: string
          enum:
            - Highways
            - Tolls
            - minimizeHighways
            - minimizeTolls
            - highways
            - tolls
          title: Road obstacle avoid options.
          description: |
            Options which let the user choose which road obstacles to avoid.  
            This has no impact on route sequencing.
        avoidance_zones:
          type: array
          items:
            type: string
          title: An array of the avoidance zone IDs
          description: |
            Options which let the user choose which road obstacles to avoid.  
            This has no impact on route sequencing.
        device_type:
          type: string
          enum:
            - web
            - iphone
            - ipad
            - android_phone
            - android_tablet
          title: Device Type
          description: The type of the device that is creating this route.
        first_drive_then_wait_between_stops:
          type: boolean
          title: First Drive Then Wait Between Stops
          description: First drive then wait between stops.
        has_trailer:
          type: boolean
          default: false
          title: Has Trailer
          description: If true, a vehicle has a trailer.
        trailer_weight_t:
          type: number
          nullable: true
          title: Trailer Weight (t)
          description: "If has_trailer = true, specifies the weight of the trailer (required)."
        limited_weight_t:
          type: number
          nullable: true
          title: Limited Weight (t)
          description: If travel_mode = 'Trucking', specifies the truck weight (required).
        weight_per_axle_t:
          type: number
          nullable: true
          title: Weight per Axle (t)
          description: If travel_mode = 'Trucking', specifies the weight per axle (required).
        truck_height:
          type: number
          nullable: true
          title: Truck Height
          description: If travel_mode = 'Trucking', specifies the truck height (required).
        truck_width:
          type: number
          nullable: true
          title: Truck Width
          description: If travel_mode = 'Trucking', specifies the truck width (required).
        truck_length:
          type: number
          nullable: true
          title: Truck Length
          description: If travel_mode = 'Trucking', specifies the truck length (required).
        truck_hazardous_goods:
          type: string
          title: Truck Hazardous Goods
          description: Comma-delimited list of the truck hazardous goods.
        truck_axles:
          type: integer
          nullable: true
          title: Truck Axles
          description: Truck axles number
        truck_toll_road_usage:
          type: string
          nullable: true
          enum: ["YES", "NO"]
          title: Truck Toll Road Usage
          description: Truck toll road usage
        truck_avoid_ferries:
          type: string
          nullable: true
          enum: ["YES", "NO"]
          title: Truck Avoid Ferries
          description: Truck avoid ferries
        truck_hwy_only:
          type: string
          nullable: true
          enum: ["YES", "NO"]
          title: Truck Highway Only
          description: Truck highway only
        truck_lcv:
          type: string
          nullable: true
          enum: ["YES", "NO"]
          title: Truck LCV
          description: Truck of the type Long Combination Vehicle.
        truck_borders:
          type: string
          nullable: true
          enum: ["YES", "NO"]
          title: Truck Borders
          description: Avoid international borders
        truck_side_street_adherence:
          type: string
          enum: 
            - OFF
            - MINIMAL
            - MODERATE
            - AVERAGE
            - STRICT
            - ADHERE
            - STRONGLYHERE
          default: OFF
          title: Truck Side Street Adherence
          description: Truck side street adherence.
        truck_config:
          type: string
          nullable: true
          enum:
            - NONE
            - PASSENGER
            - 28_DOUBLETRAILER
            - 48_STRAIGHT_TRUCK
            - 48_SEMI_TRAILER
            - 53_SEMI_TRAILER
            - FULLSIZEVAN
            - 26_STRAIGHT_TRUCK
          title: Truck Config
          description: Truck configuration
        truck_dim_unit:
          type: string
          enum:
            - mi
            - km
          title: Truck Dimension Unit
          description: Truck dimension unit
        truck_type:
          type: string
          enum:
            - suv
            - pickup_truck
            - van
            - 18wheeler
            - cabin
            - waste_disposal
            - tree_cutting
            - bigrig
            - cement_mixer
            - livestock_carrier
            - dairy
            - tractor_trailer
          title: Truck Type
          description: Truck type
        truck_weight:
          type: number
          nullable: true
          title: Truck Weight
          description: If travel_mode = 'Trucking', specifies the truck weight (required).
        min_tour_size:
          type: integer
          nullable: true
          title: Minimum Tour Size
          description: |
            Must be > 0;  
            the minimum number of stops allowed in a subtour.  
            null means there is no minimum.
        max_tour_size:
          type: integer
          nullable: true
          title: Maximum Tour Size
          description: |
            Must be > 0;  
            the maximum number of stops allowed in a subtour.  
            null means there is no maximum.
        optimization_quality:
          type: integer
          nullable: true
          title: Optimization Quality
          description: |
            there are 3 types of optimization qualities that are optimizations goals (
            1 - Generate Optimized Routes As Quickly as Possible,  
            2 - Generate Routes That Look Better On A Map,  
            3 - Generate The Shortest And Quickest Possible Routes)
        uturn:
          type: integer
          nullable: true
          title: uturn
          description: |
            Available with: 
            1 = UTURN_DEPART_SHORTEST (Allows U-turns), 
            2 = UTURN_DEPART_TO_RIGHT (Forbids U-turns), 
            3 = UTURN_DEPART_TO_LEFT (Deprecated)
        leftturn:
          type: integer
          nullable: true
          title: leftturn
          description: |
            Available with: 
            1 = LEFTTURN_ALLOW, 
            2 = LEFTTURN_FORBID, 
            3 = LEFTTURN_MULTIAPPROACH (assumes points are intersections and visits them from all sides. Ignores uturn and leftturn constraints.)
        rightturn:
          type: integer
          nullable: true
          title: rightturn
          description: |
            Available with: 
            1 = RIGHTTURN_ALLOW, 
            2 = RIGHTTURN_FORBID, 
            3 = RIGHTTURN_MULTIAPPROACH (assumes points are intersections and visits them from all sides. Ignores uturn and leftturn constraints.)
        route_time_multiplier:
          type: number
          nullable: true
          title: Route Time Multiplier
          description: Route travel time slowdown (e.g. 25 (means 25% slowdown)).
        route_service_time_multiplier:
          type: number
          nullable: true
          title: Route Service Time Multiplier
          description: Route service time slowdown (e.g. 10 (means 10% slowdown)).
        optimization_engine:
          type: string
          title: Optimization Engine
          description: The parameter shows what solver engine system use for build optimization routes 1 RVRP, 2 NVRP (default).
        ignore_tw:
          type: boolean
          title: Ignore Time Windows
          description: If true, the address time windows ignored.
        override_addresses:
          type: object
          title: Override Addresses
          properties:
            time:
              type: integer
              title: TIme
              description: Service time at a route destination (address).
            address_stop_type:
              type: string
              enum:
                - DELIVERY
                - PICKUP
                - BREAK
                - MEETUP
                - SERVICE
                - VISIT
                - DRIVEBY
              title: AddressStopType
              description: The type of stop that this is (DELIVERY,PICKUP,BREAK,MEETUP,SERVICE,VISIT,DRIVEBY)
            group:
              type: string
              title: Group
              description: Address group
        slowdowns:
          type: object
          title: Slowdowns
          properties:
            service_time:
              type: integer
              title: Service Time
              description: Service time slowdowon (percent).
            travel_time:
              type: integer
              title: Travel Time
              description: Travel time slowdowon (percent).
        is_dynamic_start_time:
          type: boolean
          title: Is Dynamic Start Time
          description: If true, the start time is dynamic.
        bundling:
          $ref: https://raw.githubusercontent.com/route4me/route4me-json-schemas/master/Address_bundling.json
        disable_optimization:
          type: boolean
          nullable: true
          title: Disable Optimization
          description: By disabling optimization, the route optimization engine will not resequence the stops in your.
        lock_last:
          type: boolean
          nullable: true
          title: Lock Last
          description: A flag to indicate if the last stop in the route should be fixed.
        metric:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
          title: Metric
          description: |
            1 = ROUTE4ME_METRIC_EUCLIDEAN,  
            2 = ROUTE4ME_METRIC_MANHATTAN,  
            3 = ROUTE4ME_METRIC_GEODESIC,  
            4 = ROUTE4ME_METRIC_MATRIX,  
            5 = ROUTE4ME_METRIC_EXACT_2D
        optimize:
          type: string
          enum:
            - Distance
            - Time
            - timeWithTraffic
          title: Optimize
          description: |
            The driving directions will be generated biased for this selection.  
            This has no impact on route sequencing.
        route_date:
          type: integer
          nullable: true
          title: Route Date
          description: |
            The route start date in UTC, unix timestamp seconds.  
            Used to show users when the route will begin, also used for reporting and analytics.
        route_name:
          type: string
          nullable: true
          title: Route Name
          description: |
            The name of this route. this route name will be accessible in the search API,  
            and also will be displayed on the mobile device of a user.
        route_time:
          type: integer
          title: Route Time
          default: 25200
          description: Time when the route starts (relative to route_date) (Seconds). UTC timezone as well.
        rt:
          type: boolean
          title: Round Trip
          description: |
            `true` to set tour type for this route to Round Trip.  
            The optimization engine changes its behavior for Round Trip routes.
        travel_mode:
          type: string
          enum:
            - Driving
            - Walking
          title: Travel Mode
          description: The mode of travel that the directions should be optimized for.
        vehicle_capacity:
          type: integer
          nullable: true
          title: Vehicle Capacity
          description: How much cargo can the vehicle carry (units, e.g. cubic meters).
        vehicle_max_cargo_weight:
          type: number
          nullable: true
          title: Vehicle Maximum Cargo Weight
          description: Maximum cargo weight a vehicle can cary.
        vehicle_max_cargo_volume:
          type: number
          nullable: true
          title: Vehicle Maximum Cargo Volume
          description: Maximum cargo volume a vehicle can cary.
        vehicle_max_distance_mi:
          type: number
          nullable: true
          title: Vehicle Maximum Distance (mi)
          description: Maximum distance for a single vehicle in this route (always in miles).
        subtour_max_revenue:
          type: number
          nullable: true
          title: Subtour Max Revenue
          description: Maximum allowed revenue from a subtour.
        distance_unit:
          type: string
          enum: ["mi", "km"]
          title: Distance Unit
          description: The distance measurement unit for the route.
        vehicle_id:
          type: string
          nullable: true
          title: Vehicle ID
          description: "The unique internal ID of a vehicle to assign to the route."
        dev_lat:
          type: number
          nullable: true
          title: Device Latitude
          description: The latitude location of where a mobile device was located when it made a request to create the route.
        dev_lng:
          type: number
          nullable: true
          title: Device Longitude
          description: The longitude location of where a mobile device was located when it made a request to create the route.
        route_max_duration:
          type: number
          default: 86400
          title: Route Maximum Duration
          description: "How many seconds a route can last at most. Default is 24 hours = 86400 seconds"
        target_duration:
          type: number
          format: double
          title: Target Duration
          description: "The parameter specifies fine-tuning of an optimization process by route duration."
        target_distance:
          type: number
          title: Target Distance
          format: double
          description: "The parameter specifies fine-tuning of an optimization process by route distance."
        target_wait_by_tail_size:
          type: number
          format: double
          title: Target Wait By Tail Size
          description: "The parameter specifies fine-tuning of an optimization process by waiting time."
        route_email:
          type: string
          nullable: true
          title: Route Email
          format: email
          description: Addresses where this route was shared after completion.
        advanced_constraints:
          type: array
          items:
            $ref: '#/components/schemas/AdvancedConstraint'
        balance:
          type: object
          title: Balance
          description: Route balancing parameter.
          properties:
            mode:
              type: string
              enum:
                - distance
                - time
                - localtions
              title: Mode
              description: " Route balancing mode. Available values: 'distance', 'time', 'localtions'"
    AdvancedConstraint:
      type: object
      title: Advanced Constraints
      properties:
        available_time_windows:
          type: array
          items:
            type: array
            items:
              type: integer
            description: "A pair (as an array) of the day times in seconds"
          description: "An array of the start and end time windows."
        route4me_members_id:
          type: array
          items:
            type: integer
          description: "An array of the available member (driver) IDs"
        members_count:
          type: integer
          title: Members Count
          description: "Legacy feature which permits a user to request an example number of optimized routes."
        vehicles_id:
          type: array
          items:
            type: string
          description: "An array of the available vehicle IDs"
        max_capacity:
          type: integer
          title: Maximum Vehicle Capacity
          description: "How much total cargo can be transported per route (units, e.g. cubic meters)."
        max_cargo_weight:
          type: integer
          description: "Maximum cargo weight a vehicle can cary"
        max_cargo_volume:
          type: number
          title: Maximum Cargo Volume
          description: "Maximum cargo volume per route."
        max_revenue:
          type: integer
          description: "Maximum allowed revenue from a subtour"
        tags:
          type: array
          items:
            type: string
          description: |
            The driver tags specified in a team member's custom data. 
            ((e.g. 'driver skills': 
            ['Class A CDL', 'Class B CDL', 'Forklift', 'Skid Steer Loader', 'Independent Contractor''])
        location_sequence_pattern:
          description: |
              The parameter is used in advanced constraints to set the stops you plan to visit each route.  
              Note: empty string "" means any stops, for example ["", AddresssObject1, AddresssObject2, "", AddresssObject3] means any stops before AddresssObject1 and between AddresssObject2 and AddresssObject3.
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  alias:
                    type: string
                    description: "Location alias"
                  address:
                    type: string
                  lat:
                    type: number
                    description: Location latitude
                  lng:
                    type: number
                    description: Location longitude
              - type: string
                description: "e.g. ''"
        depot_address:
          type: object
          properties:
            source_id:
              type: integer
              description: "Source ID"
            source_type:
              type: string
              description: "Source type (e.g. input_addresses)"
    ResponseRoute:
      type: object
      description: Contains a returned Route.
      properties:
        route_id:
          type: string
          title: Route ID
          description: Unique route ID
        optimization_problem_id:
          type: string
          title: Unique optimization ID
          description: The optimization this route originates from.
        user_route_rating:
          type: integer
          nullable: true
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
          title: User rating for this route
          description: |
            User route rating from 0 to 5.  
            `null` if this route wasn't rated.  
            Users can rate routes, and this rating can be taken into account in future optimizations.
          deprecated: true
        member_id:
          type: integer
          title: Member ID
          description: Unique member ID.
        member_email:
          type: string
          title: Member Email
          description: Member email.
        member_picture:
          type: string
          nullable: true
          title: Member Picture
          description: URL of a member image.
        member_tracking_subheadline:
          type: string
          nullable: true
          title: Member Tracking Subheadline
          description: A subheadline to a nember's name; displayed in Tracking. Can contain personal information, interests, etc.
        approved_for_execution:
          type: boolean
          title: Approved For Execution
          description: If `true`, this route was checked and approved for execution by an appropriate person.
        approved_revisions_counter:
          type: integer
          title: Approved Revisions Counter
          description: Approved revisions counter. Useful for tracking dispatch personnel activity.
        member_first_name:
          type: string
          title: Member First Name
          description: First name of the member (driver) assigned to this route.
        member_last_name:
          type: string
          title: Member Last Name
          description: Last name of the member (driver) assigned to this route.
        channel_name:
          deprecated: true
          type: string
          title: Channel Name
          description: Channel name.
        vehicle_alias:
          type: string
          title: Vehicle Alias
          description: Alias of the vehicle assigned to this route.
        driver_alias:
          type: string
          title: Driver Alias
          description: Alias of the driver assigned to this route.
        trip_distance:
          type: number
          title: Trip Distance
          description: Route length in miles.
        udu_distance_unit:
          type: string
          enum:
            - mi
            - km
          title: User Distance Unit
          description: The preferred distance unit.
        udu_trip_distance:
          type: number
          title: UDU Trip Distance
          description: Route length in units provided in the `udu_distance_unit` parameter.
        is_unrouted:
          type: boolean
          title: Is unrouted
          description: If true, this <<glossary:Route>> consists of a set of addresses that couldn't be assigned to a route. For example, if an Optimization contains 100 addresses but is constrained to 3 vehicles and 30 addresses per vehicle, the system will generate 3 routes with 30 routed addresses each and one "unrouted route" containing the remaining 10 addresses.
        route_cost:
          type: number
          title: Route Cost
          description: Route cost.
        route_weight:
          type: number
          title: Route Weight
          description: Total weight of the route inventory.
        route_cube:
          type: number
          title: Route Cube
          description: Total volume of the route inventory.
        route_pieces:
          type: integer
          title: Route Pieces
          description: Total amount of items in the route inventory.
        route_revenue:
          type: number
          title: Route Revenue
          description: Route revenue.
        net_revenue_per_distance_unit:
          type: number
          title: Net Revenue Per Distance Unit
          description: Net revenue per distance unit for this route.
        created_timestamp:
          type: integer
          title: Created Timestamp
          description: UNIX timestamp for the moment this route was created.
        mpg:
          type: integer
          title: MPG
          description: Miles per gallon (used to compute fuel consumption).
        gas_price:
          type: number
          title: Gas Price
          description: Price of gas per gallon (used to compute route costs).
        route_duration_sec:
          type: integer
          title: Route Duration sec
          description: Estimated route drive time in seconds.
        planned_total_route_duration:
          type: integer
          title: Planned Total Route Duration
          description: Planned route duration in seconds.
        total_wait_time:
          type: integer
          title: Total Wait Time
          description: Total wait time for the route.
        udu_actual_travel_distance:
          type: number
          title: Actual Travel Distance
          description: Actual total travel distance in user-defined units.
        actual_travel_distance:
          type: number
          title: Actual Travel Distance
          description: Actual total travel distance for the route.
        actual_travel_time:
          type: integer
          title: Actual Travel Time
          description: Actual total travel time for the route.
        actual_footsteps:
          type: integer
          title: Actual Footsteps
          description: Actual footsteps for the route in addition to the distance driven.
        working_time:
          type: integer
          title: Working Time
          description: Total time spent on stops.
        driving_time:
          type: integer
          title: Driving Time
          description: Total driving time.
        idling_time:
          type: integer
          title: Idling Time
          description: Total time spent idling (waiting for the business hours of an address to start, for example).
        paying_miles:
          type: number
          title: Paying Miles
          description: Total paying miles.
        geofence_polygon_type:
          type: string
          enum:
            - circle
            - rect
          title: Geofence Polygon Type
          description: Defines the type of the Geofence polygon, circular or rectangular.
        geofence_polygon_size:
          type: integer
          title: Geofence Polygon Size
          description: Size of the Geofence polygon.
        destination_count:
          type: integer
          title: Destination Count
          description: The count of destinations in the route.
        notes_count:
          type: integer
          title: Notes Count
          description: The count of notes for addresses in the route.
        parameters:
          $ref: '#/components/schemas/RequestParameters'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          title: Addresses
          description: The addresses this route consists of.
        links:
          $ref: '#/components/schemas/Links'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'
          title: Notes
        vehicle:
          $ref: https://raw.githubusercontent.com/route4me/route4me-json-schemas/master/Vehicle_V4.json
        member_config_storage:
          type: object
          additionalProperties:
            type: string
          description: Member config key-value pairsl
        directions:
          type: array
          items:
            type: string
          description: |
            Edge by edge turn-by-turn directions.  
            Note: For round-trip routes (parameters.rt = true), the return to the start address is returned as well.
        path:
          type: array
          items:
            type: string
          title: Path
          description: Edge-wise path to be drawn on the map.
        tracking_history:
          type: array
          items:
            $ref: https://raw.githubusercontent.com/route4me/route4me-json-schemas/master/TrackingHistory.json
          title: Tracking History
          description: A collection of device tracking data with coordinates, speed, and timestamps.
        bundle_items:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              cube:
                type: number
                title: Cube
                description: Summary cube value of the bundled addresses.
              revenue:
                type: number
                title: Revenue
                description: Summary revenue value of the bundled addresses.
              pieces:
                type: integer
                title: Pieces
                description: Summary pieces value of the bundled addresses.
              weight:
                type: number
                title: Weight
                description: Summary weight value of the bundled addresses.
              cost:
                type: number
                title: Cost
                description: Summary cost value of the bundled addresses.
              service_time:
                type: integer
                title: ServiceTime
                description: Service time of the bundled addresses.
              time_window_start:
                type: integer
                title: Time Window Start
                description: Time window start of the bundled addresses.
              time_window_end:
                type: integer
                title: Time Window End
                description: Time window end of the bundled addresses.
              custom_data:
                type: object
                additionalProperties:
                  type: string
                description: Custom data.
                title: Custom Data
              addresses_id:
                type: array
                items:
                  type: integer
                description: Array of the IDs of the bundled addresses.
    ResponseRemoveRoute:
      type: object
      properties: 
        deleted:
          type: boolean
          description: "If true, the route(s) removed from database."
        async:
          type: boolean
          description: "If true, route removing process is asynchronous."
        route_id:
          type: string
          description: "Removed route(s) (comma-delimited)"
        route_ids:
          type: array
          items:
            type: string
          description: "An array of the removed route IDs."
    Error406:
      type: object
      properties:
        status:
          type: boolean
        code:
          type: integer
          example: 406
    Address:
      title: Address
      description: 'Json schema for an Address response class. See curl examples: get_route_directions,
        get_route_path_points'
      type: object
      properties:
        route_destination_id:
          type: integer
          title: Route Destination ID
          description: Internal unique address identifier
        alias:
          type: string
          title: Address Alias
          description: Address Alias
        member_id:
          type: integer
          title: Member ID
          description: Member ID
        address:
          type: string
          title: Address Name
          description: The route Address Line 1
        is_depot:
          type: boolean
          title: Is Depot
          description: This address is a depot
          default: false
        timeframe_violation_state:
          type: integer
          title: Timeframe violation state
          description: State of the timeframe violation. In a response only
        timeframe_violation_time:
          type: integer
          title: Timeframe violation time
          description: Moment of the timeframe violation. In a response only
        timeframe_violation_rate:
          type: number
          title: Timeframe violation rate
          description: Rate of the timeframe violation. In a response only
        lat:
          type: number
          title: Latitude
          description: Latitude
          minimum: -90
          maximum: 90
        lng:
          type: number
          title: Longitude
          description: Longitude
          minimum: -180
          maximum: 180
        curbside_lat:
          type: number
          title: Curbside Latitude
          description: Curbside latitude
          minimum: -90
          maximum: 90
        curbside_lng:
          type: number
          title: Curbside Longitude
          description: Curbside longitude
          minimum: -180
          maximum: 180
        priority:
          type: integer
          nullable: true
          title: Priority
          description: 0 is the highest priority; n has higher priority than n + 1
        route_id:
          type: string
          title: Route ID
          description: Parent route
        original_route_id:
          type: string
          nullable: true
          title: Original Route ID
          description: The original customer-specific route id assigned at route creation
            time.
        route_name:
          type: string
          nullable: true
          title: Route Name
          description: Route name of a depot address
        optimization_problem_id:
          type: string
          title: Optimization Problem ID
          description: Optimization Problem ID
        sequence_no:
          type: integer
          title: Sequence No
          description: The sequence number for the address
        geocoded:
          type: boolean
          title: Geocoded
          description: True means the 'address' field was successfully geocoded
        preferred_geocoding:
          type: integer
          nullable: true
          title: Preferred Geocoding
          description: Index of 'geocodings' array that the user has chosen
        failed_geocoding:
          type: boolean
          nullable: true
          title: Failed Geocoding
          description: True means there was a geocoding attempt which failed. False means
            success or no geocoding
        geocodings:
          type: array
          items:
            "$ref": https://raw.githubusercontent.com/route4me/route4me-json-schemas/master/geocoding.json
          title: Geocodings ID
        contact_id:
          type: integer
          nullable: true
          minimum: 0
          title: Contact ID
          description: Address book contact id (0 means not connected to the address book)
        order_id:
          type: integer
          nullable: true
          title: Order ID
          description: Parent order ID
        address_stop_type:
          type: string
          enum:
          - DELIVERY
          - PICKUP
          - BREAK
          - MEETUP
          - SERVICE
          - VISIT
          - DRIVEBY
          title: Address stop type
          description: The type of stop that this is (DELIVERY,PICKUP,BREAK,MEETUP,SERVICE,VISIT,DRIVEBY)
        is_visited:
          type: boolean
          title: Is Visited
          description: The driver pressed the 'Visited' button
          default: false
        timestamp_last_visited:
          type: integer
          nullable: true
          title: Timestamp Last Vsited
          description: Timestamp when the driver presses 'Visited'
        visited_lat:
          type: number
          nullable: true
          title: Visited Latitude
          description: Last known check in latitude
          minimum: -90
          maximum: 90
        visited_lng:
          type: number
          nullable: true
          title: Visited Longitude
          description: Last known check in longitude
          minimum: -180
          maximum: 180
        is_departed:
          type: boolean
          title: Is Departed
          description: The driver marked the 'Departed' button
        departed_lat:
          type: number
          nullable: true
          title: Departed Latitude
          description: Last known departed latitude
          minimum: -90
          maximum: 90
        departed_lng:
          type: number
          nullable: true
          description: Last known departed longitude
          title: Departed Longitude
          minimum: -180
          maximum: 180
        timestamp_last_departed:
          type: integer
          nullable: true
          title: Timestamp Last Departed
          description: Timestamp when the driver marks the stop as 'Departed'
        group:
          type: string
          nullable: true
          title: Group
          description: Address group
        customer_po:
          type: string
          nullable: true
          title: Customer PO
          description: The customer purchase order for the address
        invoice_no:
          type: string
          nullable: true
          title: Invoice No
          description: The invoice number for the address
        reference_no:
          type: string
          nullable: true
          title: Reference NO
          description: The reference number for the address
        order_no:
          type: string
          nullable: true
          title: Order NO
          description: The order number for the address
        weight:
          type: number
          title: Weight
          description: The weight of the package (cargo) to dropof/pickup to/from the address.
            Number precise = 2 (e.g. 4.77).
        cost:
          type: number
          title: Cost
          description: The cost of the order for the address. Number precise = 2 (e.g. 530.88).
        revenue:
          type: number
          title: Revenue
          description: The total revenue for the address. Number precise = 2 (e.g. 4.77).
        cube:
          type: number
          title: Cube
          description: The cubic volume of the cargo being delivered or picked up at the
            address. Number precise = 2 (e.g. 4.85).
        pieces:
          type: integer
          title: Pieces
          description: Pieces
        first_name:
          type: string
          nullable: true
          title: First name
          description: The first name of the receiving address
        last_name:
          type: string
          nullable: true
          title: Last name
          description: The last name of the receiving address
        email:
          type: string
          nullable: true
          format: email
          title: Email
          description: A valid e-mail address assigned to this stop
        phone:
          type: string
          nullable: true
          title: Phone
          description: Customer Phone
        destination_note_count:
          type: integer
          title: Destination Note Count
          description: How many notes have been added to this destination
        drive_time_to_next_destination:
          type: integer
          title: Drive Time to next Destination
          description: Time to next destination in seconds.
        abnormal_traffic_time_to_next_destination:
          type: integer
          nullable: true
          description: Abnormal traffic time to next destination
          title: Abnormal traffic time to next destination
        uncongested_time_to_next_destination:
          type: integer
          nullable: true
          title: Uncongested Time To Next Destination
          description: Supposing that there was no traffic at all, this gives how many seconds
            it takes to get to the next stop.
        traffic_time_to_next_destination:
          type: integer
          nullable: true
          title: Traffic Time To Next Destination
          description: Traffic time to a next destination.
        distance_to_next_destination:
          type: number
          title: Distance to next destination
          description: Distance to next destination in route unit (the default unit is in
            miles)
        udu_distance_to_next_destination:
          type: number
          title: UDU Distance To Next Destination
          description: UDU distance to next destination in route unit (the default unit
            is in miles)
        channel_name:
          type: string
          title: Channel name
          description: Channel name
        pickup:
          type: string
          title: Pickup
          description: Alias of a pickup point.
        dropoff:
          type: string
          title: Dropoff
          description: Alias of the paired pickup point.
        joint:
          type: integer
          title: Joint
          description: If equal to 1, the pickup and dropoff addresses are joint (one by
            one despite the regular pickup-dropoff addresses when it's possible to have
            multiple pickup addresses with one dropoff address).
        generated_time_window_start:
          type: integer
          nullable: true
          title: Generated Time Window Start
          description: Generated Time Window Start in seconds
        generated_time_window_end:
          type: integer
          nullable: true
          title: Generated Time Window End
          description: Generated Time Window End in seconds
        time_window_start:
          type: integer
          nullable: true
          title: Time Window Start
          description: Time Window Start in seconds, relative to the route start date (midnight),
            UTC time zone. It is relative to start datebecause start time changes would
            shift time windows
        time_window_end:
          type: integer
          nullable: true
          title: Time Window End
          description: Time Window End in seconds, relative to the route start date (midnight),
            UTC time zone. It is relative to start datebecause start time changes would
            shift time windows
        time_window_start_2:
          type: integer
          nullable: true
          title: Time Window Start 2
          description: See time_window_start
        time_window_end_2:
          type: integer
          nullable: true
          title: Time Window End 2
          description: See time_window_end
        geofence_detected_visited_timestamp:
          type: integer
          nullable: true
          title: Geofence detected visited timestamp
          description: Timestamp of a geofence detected visited
        geofence_detected_departed_timestamp:
          type: integer
          nullable: true
          title: Geofence detected departed timestamp
          description: Timestamp of a geofence detected departed
        geofence_detected_service_time:
          type: integer
          nullable: true
          title: Geofence detected service time
          description: The service time of a detected geofence
        geofence_detected_visited_lat:
          type: number
          nullable: true
          title: Geofence detected visited lat
          description: Latitude of a visited detected geofence
          minimum: -90
          maximum: 90
        geofence_detected_visited_lng:
          type: number
          nullable: true
          title: Geofence detected visited lng
          description: Longitude of a visited detected geofence
          minimum: -180
          maximum: 180
        geofence_detected_departed_lat:
          type: number
          nullable: true
          title: Geofence detected departed lat
          description: Latitude of a departed detected geofence
          minimum: -90
          maximum: 90
        geofence_detected_departed_lng:
          type: number
          nullable: true
          title: Geofence detected departed lng
          description: Longitude of a departed detected geofence
          minimum: -180
          maximum: 180
        time:
          type: integer
          title: Time
          description: Service time (seconds)
        tracking_number:
          type: string
          title: Tracking Number
          description: Systemwide unique code, which permits end-users (recipients) to track
            the status of their order
        custom_fields:
          type: object
          additionalProperties:
            type: string
          description: Any unrecognized fields from the original CSV upload will be found
            here
          title: Custom Fields
        custom_fields_str_json:
          type: string
          title: Custom fields JSON string
          description: JSON string representation of the custom fields
        custom_fields_config:
          type: object
          nullable: true
          additionalProperties:
            type: string
          title: Custom fields configuration
          description: Configuration of the custom fields
        custom_fields_config_str_json:
          type: string
          nullable: true
          title: Custom fields config JSON string
          description: JSON string representation of the custom fields configuration
        notes:
          type: array
          items:
            "$ref": '#/components/schemas/Note'
          title: Notes
          description: Notes
        bundle_count:
          type: integer
          title: Bundle Count
          description: Count of the bundled addresses.
        bundle_items:
          type: object
          readOnly: true
          title: Bundle Items
          description: Additional bundle items
          properties:
            cube:
              type: number
              title: Cube
              description: Summary cube value of the bundled addresses.
            revenue:
              type: number
              title: Revenue
              description: Summary revenue value of the bundled addresses.
            pieces:
              type: integer
              title: Pieces
              description: Summary pieces value of the bundled addresses.
            weight:
              type: number
              title: Weight
              description: Summary weight value of the bundled addresses.
            cost:
              type: number
              title: Cost
              description: Summary cost value of the bundled addresses.
            service_time:
              type: integer
              title: Service Time
              description: Service time of the bundled addresses.
            time_window_start:
              type: integer
              title: Time Window Start
              description: Time window start of the bundled addresses.
            time_window_end:
              type: integer
              title: Time Window End
              description: Time window end of the bundled addresses.
            custom_data:
              type: array
              items:
                type: string
              title: Custom Data
              description: Custom data
            addresses_id:
              type: array
              items:
                type: integer
              title: Addresses IDs
              description: Array of the IDs of the bundeld addresses.
        order_inventory:
          type: array
          items:
            type: object
            properties:
              inventory_id:
                type: integer
                title: Inventory ID
                description: Unique inventory ID
              order_id:
                type: integer
                title: Order ID
                description: Unique order ID
              name:
                type: string
                title: Name
                description: Order inventory name
              quantity:
                type: integer
                title: Quantity
                description: An order inventory quantity
              total_weight:
                type: number
                title: Total Weight
                description: Total weight of the inventory
              total_volume:
                type: number
                title: Total Volume
                description: Total volume of the inventory
              total_cost:
                type: number
                title: Total Cost
                description: Total cost of the inventory
              total_price:
                type: number
                title: Total Price
                description: Total price of the inventory
              created_at:
                type: string
                title: Created At
                description: When the inventory created
              updated_at:
                type: string
                title: Updated At
                description: When the inventory updated
        path_to_next:
          type: array
          items:
            type: object
            properties:
              lat:
                type: number
                title: Latitude
                description: Latitude
                minimum: -90
                maximum: 90
              lng:
                type: number
                title: Longitude
                description: Longitude
                minimum: -180
                maximum: 180
        required_skills:
          type: array
          items:
            type: string
          title: Required Skills
          description: Required skills of a driver
        tags:
          type: array
          items:
            type: string
          title: Tags
          description: Address tags
        additional_status:
          type: string
          nullable: true
          title: Additional Status
          description: Additional Status of the address
        wait_time_to_next_destination:
          type: integer
          title: Wait time to next destination
          description: Wait time to next destination
        manifest:
          type: object
          properties:
            estimated_wait_time_before_tw_open:
              type: integer
              title: Estimated Wait Time Before TW Open
              description: Estimated wait time before TW open
            running_service_time:
              type: integer
              title: Running Service Time
              description: How much time is to be spent on service from the start in seconds
            running_travel_time:
              type: integer
              title: Running Travel Time
              description: How much time is spent driving from the start in seconds
            running_wait_time:
              type: integer
              title: Running Wait Time
              description: Running Wait Time
            running_distance:
              type: number
              title: Running Distance
              description: Distance traversed before reaching this address
            udu_running_distance:
              type: number
              title: UDU Running Distance
              description: UDU distance traversed before reaching this address
            fuel_from_start:
              type: number
              title: Fuel From Start
              description: Fuel From Start
            fuel_cost_from_start:
              type: number
              title: Fuel Cost From Start
              description: Fuel Cost From Start
            projected_arrival_time_ts:
              type: integer
              title: Projected Arrival Time ts
              description: Projected arrival time UTC unixtime
            projected_departure_time_ts:
              type: integer
              title: Projected Departure Time ts
              description: Estimated departure time UTC unixtime
            actual_arrival_time_ts:
              type: integer
              nullable: true
              title: Actual Arrival Time ts
              description: Time when the address was marked as visited UTC unixtime. This
                is actually equal to timestamp_last_visited most of the time.
            actual_departure_time_ts:
              type: integer
              nullable: true
              title: Actual Departure Time ts
              description: Time when the address was mared as departed UTC. This is actually
                equal to timestamp_last_departed most of the time.
            estimated_arrival_time_ts:
              type: integer
              title: Estimated Arrival Time ts
              description: Estimated arrival time based on the current route progress, i.e.
                based on the last known actual_arrival_time
            estimated_departure_time_ts:
              type: integer
              title: Estimated Departure Time ts
              description: Estimated departure time based on the current route progress
            scheduled_arrival_time_ts:
              type: integer
              title: Scheduled Arrival Time ts
              description: Scheduled arrival time of a vehicle to this destination
            scheduled_departure_time_ts:
              type: integer
              title: Scheduled Departure Time ts
              description: Scheduled departure time of a vehicle from this destination
            time_impact:
              type: integer
              nullable: true
              title: Time Impact
              description: This is the difference between the originally projected arrival
                time and Actual Arrival Time
            arrival_on_time:
              type: boolean
              title: Arrival On Time
              description: If true, a vehicle arrived on time at the address
            arrival_deviation_seconds:
              type: integer
              title: Arrival Deviation Seconds
              description: Arrival deviation in seconds.
            departure_on_time:
              type: boolean
              title: Departure On Time
              description: If true, a vehicle departed on time from the address.
            departure_deviation_seconds:
              type: integer
              title: Departure Deviation Seconds
              description: Departure deviation in seconds.
            remaining_weight:
              type: number
              title: Remaining Weight
              description: Remaining weight.
            remaining_cube:
              type: number
              title: Remaining Cube
              description: Remaining cube (volume).
            remaining_pieces:
              type: integer
              title: Remaining Pieces
              description: Remaining pieces.
            remaining_revenue:
              type: number
              title: Remaining Revenue
              description: Remaining revenue.
          description: The manifest contains values derived from other values
          title: Manifest
    Links:
      title: Links
      type: object
      properties:
        route:
          title: GET Route
          type: string
          description: URL of the GET request for the current route.
        view:
          title: View Optimization
          type: string
          description: URL of the GET request for the optimization problem.
        optimization_problem_id:
          title: Optimization Problem (id)
          type: string
          description: URL of the GET request for `optimization_problem_id` of the current route.
    Note:
      title: Note
      type: object
      properties:
        note_id:
          title: Note ID
          type: integer
          description: The unique ID of the note.
        route_id:
          title: Route ID
          type: string
          description: Route ID.
        route_destination_id:
          title: Route Destination ID
          type: integer
          description: Route Destination ID.
        upload_id:
          title: Upload ID
          type: string
          description: The unique ID of the file attached to this note (if any).
        ts_added:
          title: Unix timestamp
          type: integer
          description: The Unix timestamp of the moment this note was added.
        lat:
          title: Latitude
          maximum: 90
          minimum: -90
          type: number
          description: Latitude
        lng:
          title: Longitude
          maximum: 180
          minimum: -180
          type: number
          description: Longitude
        activity_type:
          title: Activity Type
          type: string
          description: The type of the activity that occured at the address.
          enum:
          - pickup
          - dropoff
          - noanswer
          - notfound
          - notpaid
          - paid
          - wrongdelivery
          - wrongaddressrecipient
          - notpresent
          - service_rendered
          - parts_missing
          - follow_up
          - left_information
          - spoke_with_decision_maker
          - spoke_with_decision_influencer
          - competitive_account
          - scheduled_follow_up_meeting
          - scheduled_lunch
          - scheduled_product_demo
          - scheduled_clinical_demo
          - no_opportunity
          - other
        contents:
          title: Contents
          type: string
          description: Contents of the note.
        upload_type:
          title: Upload Type
          type: string
          description: The type of file attached to the note.
          nullable: true
          enum:
          - CSV_FILE
          - XLS_FILE
          - DRIVER_IMG
          - VEHICLE_IMG
          - ADDRESS_IMG
          - MEMBER_IMG
          - ESIGNATURE_IMG
          - OPTIMIZATION_SCANS
        upload_url:
          title: Upload url
          type: string
          description: The direct CDN URL of the attachment uploaded with the note.
          nullable: true
        upload_extension:
          title: Upload Extension
          type: string
          description: The extension of the attachment (`pdf`, `csv`, etc).
          nullable: true
        device_type:
          title: Device Type
          type: string
          description: |
            The type of the device this note was created with.  
            Can be `web`, `iphone`, `ipad`, `android phone`, `android tablet`, etc.
        custom_types:
          type: array
          items:
            $ref: '#/components/schemas/note_custom_type'
    note_custom_type:
      title: Custom Note Type
      type: object
      properties:
        note_custom_entry_id:
          title: Custom Note Entry ID
          type: string
          description: Custom Note entry ID.
        note_id:
          title: Note ID
          type: string
          description: Note ID.
        note_custom_type_id:
          title: Custom Note Type ID
          type: integer
          description: Custom Note type ID.
        note_custom_value:
          title: Custom Note Value
          type: string
          description: The contents of a custom type note.
        note_custom_type:
          title: Custom Note Type
          type: string
          description: Custom Note type
      description: You can customize notes for your users with Custom Note Types.
    Vehicle_V4:
      title: Vehicle
      type: object
      required:
      - vehicle_alias
      description: 'Vehicle object in the user''s account.'
      properties:
        vehicle_id:
          type: string
          title: Vehicle id
          description: A unique identification 32-char string of the vehicle
        member_id:
          type: integer
          title: Member id
          description: An unique identification number of the member
        is_deleted:
          type: boolean
          title: Is Deleted
          description: If true, the vehicle is deleted
        vehicle_alias:
          type: string
          title: Vehicle alias
          description: Internal name of the vehicle
        vehicle_vin:
          type: string
          nullable: true
          maxLength: 17
          title: Vehicle VIN
          description: Vehicle VIN number
        vehicle_reg_state_id:
          type: string
          nullable: true
          title: Vehicle registration state ID
          description: An ID of the state, where vehicle was registered
        vehicle_reg_country_id:
          type: string
          nullable: true
          title: Vehicle registration country ID
          description: An ID of the country, where vehicle was registered
        vehicle_license_plate:
          type: string
          nullable: true
          title: Vehicle License Plate
          description: A license plate of the vehicle
        vehicle_type_id:
          type: string
          nullable: true
          enum:
          - sedan
          - suv
          - pickup_truck
          - van
          - 18wheeler
          - cabin
          - hatchback
          - motorcyle
          - waste_disposal
          - tree_cutting
          - bigrig
          - cement_mixer
          - livestock_carrier
          - dairy
          - tractor_trailer
          title: Vehicle Type ID
          description: Vehicle type
        timestamp_added:
          type: string
          title: Timestamp Added
          description: When the vehicle was added
        vehicle_make:
          type: string
          nullable: true
          enum:
          - american coleman
          - bmw
          - chevrolet
          - ford
          - freightliner
          - gmc
          - hino
          - honda
          - isuzu
          - kenworth
          - mack
          - mercedes-benz
          - mitsubishi
          - navistar
          - nissan
          - peterbilt
          - renault
          - scania
          - sterling
          - toyota
          - volvo
          - western star
          title: Vehicle Make
          description: Vehicle maker brand
        vehicle_model_year:
          type: integer
          nullable: true
          title: Vehicle Model Year
          description: A year of the vehicle model
        vehicle_model:
          type: string
          nullable: true
          title: Vehicle Model
          description: A model of the vehicle
        vehicle_year_acquired:
          type: integer
          nullable: true
          title: Vehicle Acquired Year
          description: A year the vehicle was acquired
        vehicle_cost_new:
          type: number
          nullable: true
          title: Vehicle Cost New
          description: A cost of the new vehicle
        purchased_new:
          type: boolean
          nullable: true
          title: Purchased New
          description: If true, the vehicle was purchased new
        license_start_date:
          type: string
          nullable: true
          format: date-time
          title: License Start Date
          description: A start date of the license
        license_end_date:
          type: string
          nullable: true
          format: date-time
          title: License End Date
          description: An end date of the license
        is_operational:
          type: boolean
          title: Is Operational
          description: If true, the vehicle is operational
        fuel_type:
          type: string
          nullable: true
          enum:
          - unleaded 87
          - unleaded 89
          - unleaded 91
          - unleaded 93
          - diesel
          - electric
          - hybrid
          title: Fuel Type
          description: A type of the fuel
        external_telematics_vehicle_id:
          type: string
          nullable: true
          title: External Telematics Vehicle ID
          description: External telematics vehicle ID
        timestamp_removed:
          type: string
          title: Timestamp Removed
          description: When the vehicle was removed
  parameters:
    idParam:
      in: query
      name: route_id
      description: A route's unique ID
      required: true
      schema:
        type: string
    idNotRequiredParam:
      in: query
      name: route_id
      description: A route ID.
      required: false
      schema:
        type: string
    limitParam:
      in: query
      name: limit
      schema:
        type: integer
      description: Limit the number of records in the response.
    offsetParam:
      in: query
      name: offset
      schema:
        type: integer
      description: The number of records to skip in the response, in chronological order.
    notesParam:
      in: query
      name: notes
      schema:
        type: integer
      description: Set to `1` to retrieve address notes along with the route.
    directionsParam:
      in: query
      name: directions
      schema:
        type: integer
      description: Set to `1` to retrieve directions along with the route.
    originalParam:
      in: query
      name: original
      schema:
        type: integer
      description: Set to `1` to retrieve both the current route and the original route.
    orderInventoryParam:
      in: query
      name: order_inventory
      schema:
        type: integer
      description: Set to `1` to retrieve order inventories along with the route.
    bundlingItemsParam:
      in: query
      name: bundling_items
      schema:
        type: boolean
      description: Set to `1` to retrieve bundled items along with the route.
    compressPathPointsParam:
      in: query
      name: compress_path_points
      schema:
        type: integer
      description: Set to `1` for Route4me to provide path points compressed in the response.
    optimalPositionParam:
      in: query
      name: optimal_position
      schema:
        type: boolean
      description: Set to `1` to insert an address at the optimal position of a route.
    routeDestinationIdParam:
      in: query
      name: route_destination_id
      schema:
        type: integer
      description: Route destination ID.
    startDateParam:
      in: query
      name: start_date
      schema:
        type: string
      description: Set the start date for the filter when retrieving routes.
    endDateParam:
      in: query
      name: end_date
      schema:
        type: string
      description: Set the start date for the filter when retrieving routes.
    routePathOutputParam:
      in: query
      name: route_path_output
      schema:
        type: string
      description: | 
        Control the way the route path is returned in the response:

        |Value|Description|
        |-|-|
        |`none`|Do not return path (default)|
        |`points`|A collection of turns represented by latitude/longitude coordinate pairs|
        |`encoded`|Google polyline (concatenated)|
        |`encodedList`|Encoded array of polylines (faster for customers)|
  responses:
    InvalidValue:
      description: Validation Exception.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error406'
  requestBodies:
    Data:
      content:
        application/json:
          schema:
            type: object
            properties:
              addresses:
                $ref: '#/components/schemas/RequestAddresses'
              parameters:
                $ref: '#/components/schemas/RequestParameters'
    RequestRouteIDs:
      content:
        application/json:
          schema:
            type: object
            properties:
              route_id:
                type: string
                description: A comma-delimited list of the IDs of routes to delete.
                example: "route_id1, route_id2"
    RequestDuplicateRouteIDs:
      content:
        application/json:
          schema:
            type: object
            properties:
              duplicate_routes_id:
                type: array
                items:
                  type: string
                  description: A comma-delimited list of the routes to remove.
                example: ["route_id1", "route_id2"]
            